<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="AfterSalesDb"
         connectionString="Data Source=.;Initial Catalog=IKCO_AfterSales;Integrated Security=True;MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="DefaultPageSize" value="20" />
    <add key="LoyaltyDiscountPercent" value="5" />
    <add key="LoyaltyThreshold" value="3" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

</configuration>
